@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.first-container {
  background-color: #1f2937;
}
#header-logo {
  font-size: 24px;
  color: #f9faf8;
}
.navbar {
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  flex-direction: row;
}
.header-link {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px;
}
.navbar-left,
.navbar-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.content {
  display: flex;
  flex-direction: row;
}
.content-right,
.content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
